@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');

body {
    font-family:Monomakh ;
}

.box-blue{
    background-color: rgb(8, 4, 241);
    margin: 15px;
    padding: 15px;
}

.box-blue h1 {
    color: rgb(236, 19, 4);
}

.box-blue h5 {
    color: rgb(108, 255, 108);
}

.box-blue p {
    color: rgb(255, 0, 0);
    text-align: justify;
}

.box-green {
    background-color: rgb(0, 240, 20);
    margin: 15px;
    padding: 15px;
}
.box-green h1 {
    color: blueviolet;
}

.box-green h5 {
    color: grey;
}

.box-green p {
    color: rgb(0, 0, 0);
    text-align: justify;
}

.jumbotron {
    background-color: aqua;
    padding: 60px;
    text-align: center;
    color: bisque;
    font-size: 20px;
}